body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content, .image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #333;
    background-color:lightcyan;
    width: 200px;
    font-weight: bold;
  }

/* メディアクエリ */
@media (max-width: 768px) {

}

/* スマホ画面サイズ用のスタイル */
@media (max-width: 480px) {
  .content, .image {
      flex-basis: 100%;
      max-width: 100%;
  }

  .content {
      order: 1;
  }

  .image {
      order: 2;
  }

  /* ヘッダー、フッター、見出しのサイズ調整など */
  header, footer {
      padding: 0.5em 0;
  }

  h1 {
      font-size: 1.5em;
  }

  h2 {
      font-size: 1.2em;
  }
}
