body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 16px 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.content, .image {
  flex: 1;
}

.image img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: #333;
  background-color: lightcyan;
  width: 200px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  section {
      flex-direction: column;
      padding: 10px;
  }

  .content, .image {
      max-width: 100%;
  }

  .content {
      margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  header, footer {
      padding: 8px 0;
  }

  h1 {
      font-size: 24px;
  }

  h2 {
      font-size: 16px;
      width: auto;
  }
}
